jaxb-ri/test/test_src/testcase/proxygroup/schema2/bar.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="bar">
		<xs:complexType>
			<xs:sequence>
  				<xs:element name="intOne" type="xs:int"/>
  				<xs:element name="intTwo" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
