jaxb-ri/test/test_src/testcase/spec_api/source/folder.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="folder">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="folder" />
        <xs:element ref="file" />
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="file">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>